.venv/
__pycache__/
*.pyc
*.egg-info/
.env
.vscode/
.idea/
node_modules/
dist/
build/
.pytest_cache/
.test-workdirs/
pytest-cache-files-*/
config/robots.yaml
storage/
downloads
tmp_scripts/
ursim-urcaps/*.jar
ursim-urcaps/*.urcap
